.cardContainer {
    margin-top: 20px;
    width: 50vw;
    display: flex;
    flex-direction: row;
    padding: 5px;
    line-height: 4;
}

.cardInputs * {
    margin-top: 7px;
}

.cardButtons cardButton {
    margin: 5px;
}