.container {
    width: 50vw;
    margin: auto;
    margin-top:20px;
    display:flex;
}

.body {
    display: flex;
    width: 50vw;
}

.buttonContainer {
    display:flex;
    width:20vw;
    margin: auto;
    padding-top: 20px;
}

.cards {
    display: flex;
    flex-direction: column;
}