.EditContainer{
    width: 100vw;
    height: 160vh;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: center;
}

.paperContainer{
    width: 70vw;
    height: 160vh;
    margin:20 px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.expansionPanel{
    width:28vw;
    display: flex;
    flex-direction: column;
}

.inputRow{
    height: 10vh; 
}

.smallInputContainer{
    width: 53vw;
    margin:10px;
    display: flex;
    flex-direction: row;
}

.largeInputContainer{
    width: 100vw;
    margin:10px;
    display: flex;
    flex-direction: row;
}

.expansionPanelLarge{
    width:50vw;
    display: flex;
    flex-direction: column;
}

.panelMargin{
    margin:10px;
    width: 57vw;
}

.imageContainer{
    width: 28VW;
    
}


.displayPic{
    height: 30vh;
}
.inputField {
    width:25vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.inputFieldLargeMultiline {
    width:50vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.inputFieldLarge{
    width: 53vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}