.cardContainer{
    width: 40vw;
    height: 30vh;
    display: flex;
    flex-direction: row;
    margin:20px;
    padding: 10px;
}

.personalInfo {
    width: 36vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
}

.topCard {
    width: 36vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
}

.midCard {
    width: 36vw;
    height: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.bottomCard {
    width: 36vw;
    height: 10vh;
    padding: 10px;
}

.socialInfo {
    width: 4vw;
    height: 30vh;
}

.imageInfo {
    width: 5vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding:10px;
}

.nameInfo {
    width: 31vw;
    height: 15vh;
    display: flex;
    padding: 10px;
    justify-content: flex-start;
    flex-direction: column;
}