.signupContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
}
  
.headline{
  padding:16px;
}
.formContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100vw;
  padding: 16px;
}

.paper {
  align-self: center;
}

.form2{
  width: 30vw;
  padding: 5px;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.login{
  margin: 16px;
}