.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0em;
}

.title {
    font-size: 1.75vw;
    margin-top: 20px;
    margin-left: 375px;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
}

.checkout {
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
