.App {
  width: 100vw;
  height: 100vh;
}

.navBar {
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: space-evenly;
  margin-bottom:4vw;
}

.leftNavBar {
  width:50vw;
  height: 5vh;
  display: flex;
  justify-content: flex-start;
}

.rightNavBar {
  width:50vw;
  height: 5vh;
  display: flex;
  justify-content: flex-end;
}

.headline{
  padding:16px;
}

.employerContainer {
  margin-bottom: 3vw;
}