.navBar {
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
}

.leftNavBar {
    width:50vw;
    height: 5vh;
    display: flex;
    justify-content: flex-start;
}

.rightNavBar {
    width:50vw;
    height: 5vh;
    display: flex;
    justify-content: flex-end;
}

.container {
    width: 100vw;
}

.body {
    margin: 20px auto 0;
    width: 65vw;
}