/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** WARNING
FOLLOWING LINES ARE JUST THE BOILER PLATE:
PENDING to define own project variables
*/
.Link a {
  text-decoration: none;
  color: #4a4a4a;
}
/* Component's less files are treated as mixins => this allow to nested styles in layout.less */
/** WARNING
PENDING TO DEFINE
Following lines are just the starting BOILER PLATE
*/
/**
* WARNING => THERE ARE SOME BOOTSTRAP STYLES APPLIED USING BOOTSTRAP CUSTOM CLASSES
*
* App
* |--SideBar_
* |  |--Button_
* |--Main_
*    |--ListView
*    |  |--NoteCard_
*    |--NoteView
*    |--Form_
*    |  |--Button_
*    |--Form_
*       |--Button_
*
*/
/** Import all less files from components */
.button-component .custom-button {
  color: #ffffff;
  background-color: #2bc1c4;
  max-width: 219.68px;
  height: 50px;
  margin-bottom: 1.2rem;
  border: 1.5px solid #979797;
  line-height: 3rem;
  letter-spacing: 0.05rem;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
.form-component .custom-form .custom-input {
  width: 400px;
  height: 50px;
  padding: 0 9px;
  outline: none;
}
.form-component .custom-form .custom-text-area {
  padding: 20px;
  outline: none;
}
.form-component .custom-form .custom-button {
  color: #ffffff;
  background-color: #2bc1c4;
  max-width: 219.68px;
  height: 50px;
  margin-bottom: 1.2rem;
  border: 1.5px solid #979797;
  line-height: 3rem;
  letter-spacing: 0.05rem;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}
.custom-container {
  max-width: 85%;
  height: 100vh;
  padding: 0;
  border: 1px solid cyan;
}
.custom-container .row {
  margin: 0px;
}
/** END Import all less files from components */
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
  font-family: 'Raleway Medium', sans-serif;
  color: #4a4a4a;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto Bold', sans-serif;
  letter-spacing: 1px;
}
h1 {
  font-size: 2.3rem;
  font-weight: 900;
}
h5 {
  font-size: 1.3rem;
}
p {
  margin-top: 1.6rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.82rem;
  letter-spacing: 0.5px;
}
