.addContainer{
    width: 100vw;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: center;
}

.paperContainer{
    width: 70vw;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.buttons * {
    display: flex;
    margin: auto;
    margin-top: 5px;
    width: 20vw;
}
