.addContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.paperContainer{
    width: 50vw;
}

.addPosButtons * {
    display: flex;
    margin: 5px auto 0;
    width: 15vw;
}
