.container {
    color: #4A4A4A;
    max-width: 50vw;
    border: solid 2px;
    margin-left: auto;
    margin-right: auto;
}

.topCard {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 45vw;
    margin-bottom: 3px;
}

.topCardLeft {
    display: flex;
    flex-direction: column;
    width: 43vw;
    justify-content: flex-start;
}

.nameCard {
    display: flex;
    flex-direction: row;
    width: 43vw;
}

.photo {
    display: flex;
    max-width: 12vw;
    justify-content: flex-end;
}

.pic {
    width: 12vw;
    justify-content: flex-end;
}

.basicInfo {
    display: flex;
    flex-direction: column;
    width: 34vw;
}

.name {
    font-family: Palatino;
    padding: 0;
    margin: 0;
}

.topCardRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 10vw; */
}

.currentLocation {
    padding:0;
    margin:0;
}

.summary {
    padding:0;
    margin:1vw 0 1vw 0;
}

.desiredTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: solid #4A4A4A 2px;
    padding: 0;
}
.title1 {
    margin: 0;
    padding: 0;
}
.title2 {
    margin: 0 0 0 1vw;
    padding: 0;
}

.tagCloud {
    display: flex;
    width: 100%;
    border-top: solid #4A4A4A 2px;
}

.experience {
    width: 100%;
    border-top: solid #4A4A4A 2px;
}

.education {
    width: 100%;
    border-top: solid #4A4A4A 2px;
}

.placesInterested {
    width: 100%;
    border-top: solid #4A4A4A 2px;
}
