.container {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #4A4A4A;
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
}

.topCard {
    width: 49vw;
    min-height: 20em;
    margin-top: 0.5vw;
    margin-left: 0.5vw;
}

.topCardLeft {
    display: flex;
    flex-direction: column;
    width: 43vw;
    min-height: 20em;
}

.nameCard {
    display: flex;
    flex-direction: row;
    width: 42vw;
    min-height: 20em;
}

.photo {
    display: flex;
    width: 10vw;
    height: 15vw;
}

.pic {
    width: 10vw;
    height: 15vw;
}

.basicInfo {
    display: flex;
    flex-direction: column;
    width: 35vw;
    min-height:20em;
    margin-left: 1vw;
}

.name {
    display: flex;
    font-family: Palatino;
    width: 30vw;
}

.currentLoacation {
    display: flex;
    width: 30vw;
}

.summary {
    display: flex;
    width: 30vw;
    min-height: 4em;
    flex-wrap: wrap;
}

.desiredTitle {
    display: flex;
    flex-direction: row;
    width: 30vw;
    min-height: 2em;
    border-top: solid #4A4A4A 2px;
}

.tagCloud {
    display: flex;
    width: 30vw;
    min-height: 6vw;
    border-top: solid #4A4A4A 2px;
    padding-top: 0.5em;
}

.tagCloud ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tagCloud ul li {
    margin-right: 1em;
}

.topCardRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5vw;
    min-height: 23vw;
}

.downCard {
    display:flex;
    flex-direction: column;
    width: 49vw;
    margin-left: 0.5vw;
}

.projects {
    display: flex;
    width: 49vw;
    min-height: 4vw;
    border-top: solid #4A4A4A 2px;
}

.experience {
    display: flex;
    width: 49vw;
    min-height: 4vw;
    border-top: solid #4A4A4A 2px;
}

.education {
    display: flex;
    width: 49vw;
    min-height: 4vw;
    border-top: solid #4A4A4A 2px;
}

.placesInterested {
    display: flex;
    width: 49vw;
    min-height: 4vw;
    border-top: solid #4A4A4A 2px;
}
.lambda-badge:hover {
    z-index: 2;
  height: 7vw;
  width: 7vw;
}
.social-network:hover {
    z-index: 3;
  height: 7vw;
  width: 7vw;
  src: "./img/lambdaColor.png";
}
.github:hover {
    z-index: 3;
  height: 7vw;
  width: 7vw;
}
.linkedin:hover {
    z-index: 3;
  height: 7vw;
  width: 7vw;
}
.portfolio:hover {
    z-index: 3;
  height: 7vw;
  width: 7vw;
}
