h1, h2 {
    font-family: Palatino;
    margin: 0.2em 0;
}

h3 {
    margin: 0;
}

.navBar {
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
}

.leftNavBar {
    width:50vw;
    height: 5vh;
    display: flex;
    justify-content: flex-start;
}

.rightNavBar {
    width:50vw;
    height: 5vh;
    display: flex;
    justify-content: flex-end;
}

.container {
    color: #4A4A4A;
    max-width: 50vw;
    border: solid 2px;
    margin: 3vw auto;
    padding: 2vw;
}

.topCard {
    display:flex;
    flex-direction: row;
    width: 100%;
}

.topCardLeft {
    display: flex;
    flex-direction: column;
    width: 85%;
    justify-content: flex-start;
}

.nameCard {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.photo {
    display: flex;
    max-width: 20%;
    justify-content: flex-start;
}

.basicInfo {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.name {
    font-family: Palatino;
    padding: 0;
    margin: 0;
}

.topCardRight {
    display: flex;
    flex-direction: column;
    padding-left: 1vw;
    width: 10%;
}

.currentLocation {
    padding:0;
    margin:0;
}

.summary {
    padding:0;
    margin:1vw 0 1vw 0;
}

.desiredTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: solid #4A4A4A 2px;
    padding: 0;
}
.title1 {
    margin: 0;
    padding: 0;
}
.title2 {
    margin: 0 0 0 1vw;
    padding: 0;
}

.tagCloud {
    width: 100%;
    border-top: solid #4A4A4A 2px;
}

.experience {
    width: 100%;
    border-top: solid #4A4A4A 2px;
}

.education {
    width: 100%;
    border-top: solid #4A4A4A 2px;
}

.placesInterested {
    width: 100%;
    border-top: solid #4A4A4A 2px;
}
