h1 {
    font-size: 1.5em;
    font-family: 'Palatino';
    color: #4A4A4A;
}

h2 {
    font-size: 1.0em;
    font-family: 'Palatino';
    color: #4A4A4A;
}

p {
    font-size: 1.0em;
    font-family: 'Roboto';
    color: #4A4A4A;
}

hr {
    color: #4A4A4A;
}