.container {
    width: 50vw;
    display:flex;
    flex-direction: column;
}

.body {
    display:flex;
    flex-direction: column;
    display: flex;
    margin: 20px auto 0;
    width: 50vw;
    align-self: center;
}

.paper {
    align-self: center;
}

.form {
    align-self: center;
    justify-content: center;
    margin: auto;
}